

.pagination_list{
  display: flex;
  justify-content: center;

  .pagination_item{
    background: white;
    border: 1px solid red;
    padding: 0 10px;
    cursor: pointer;
    list-style: none;
    &:not(:last-child){
      border-right: none;
    }

    &:hover{
      background: red;
      color: white;
    }
    &.pagination_item.active{
      background: red;
      color: white
    }
  }
}
