.icon_button_wrapper {
  // padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  &:hover {
    background:#fd8a8a
  }
}



.text_red {
  color: red;
}

.MuiSvgIcon-root{
  width: 20px;
}

.circle_icon{
  // font-size: 16px;
  // color: #602cbd;
  // width: 20px;
  // height: 20px;
  // text-align: center;
  // line-height: 20px
}
