


.form_control_file{
  margin-top: 50px;;
}


.input_file{
  display: none;
}

.input_group.file{
  label{
    top: -20px;
  } 
}


.preview_image{
  display: flex;
  flex-wrap: wrap;

  .image_wrapper{
    position: relative;
    width: 100px;
    margin: 0 2px;
  
    .clear_button{
      position: absolute;
      top: -4px;
      right: 0px;
      i{
        color: rgb(245, 245, 245);
      }
    }
  }
}

.file_choose_button {
  font-weight: 600;
  background: white;
  box-shadow: 0px 0px 1px 0px grey, 0 0 2px 1px #bcbcbc;
  width: max-content;
  padding: 0px 10px;
  font-size: 13px;
  border-radius: 5px;
  margin-bottom: 5px;
}