@import '../../sass/index.scss';

$nav_color: #602cbd;

header {
  .main_nav {
    position: relative;
    min-height: 40px;
    z-index: 10;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $nav_color;
	  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);


    .left_nav{
      width: 100%;
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo{
        @include md{ flex: 3 }
        @include sm{ flex: 4 }
        flex: 2;
        font-size: 25px;
        font-family: roboto slab;
        color: rgb(255, 255, 255);
        font-weight: 500;
      }      
    }

    .right_nav{
      display: flex;
      align-items: center;
      cursor: pointer;
      .avatar_root{
        display: flex;
        margin-right: 10px;
      }
      .menu{
        @include up_sm{ display: none }
        color: white;
        cursor: pointer;
        span{
          display: block;
          width: 15px;
          height: 1px;
          background: white;
          margin: 2px;
        }
      }
      .sign_up_logo{
        margin-right: 10px;
        font-size: 14px;
      }
      .avatar_icon{
        position: relative;
      }
      .bell_icon{
        margin-right: 10px;
        position: relative;
      }
    }

   
}

.nav{
  &.mobile_mode{
    width: 100%;
    left: 0;
    padding: 15px;
    flex-direction: column;
    position: absolute;
    top: 33px;
    background: $nav_color;
    box-shadow: 0 0 4px 2px #6f6e6e;
    z-index: 9;
    transform: scaleY(0);
    font-size: 0px;
    transform-origin: top;
    transition: transform .3s linear, font-size .3s linear;
  }

  &.desktop_mode{
    include md{ flex: 10 }
    flex: 10;
    display: flex;
    flex-direction: row;
  }
  &.nav_expand{
    transition: transform .3s linear, font-size .3s linear;
    transform: scaleY(1);
    font-size: 16px;
  }
  
}
}
.nav_item{
  padding: 0 10px;
  position: relative;
  &:hover{
    a{
      color: #41ff58;
      font-weight: 500;
    }
  }
  a{
    text-decoration: none;
    color: #dadada;
    font-weight: 400;
    font-family: roboto;
    font-size: 17px;
  }
}
.remove_shadow{
  box-shadow: none;
}
.add_shadow{
  box-shadow: 0 0 4px 2px #6f6e6e;
}
.fa-icon{
font-size: 19px;
color: white;
}