/* Helper Class */

.mr-5{margin-right: 5px}
.ml-5{margin-left: 5px;}
.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}


.avatar_root{

}

.avatar{
  height: inherit;
  width: inherit;
  box-shadow:0 0 2px 0px #acacac;
  box-sizing: border-box;
}

.circle{
  border-radius: 100%;
}

.border{
  border: 3px solid #c1c1c1;
}
.no_shadow{ box-shadow: none }


.gallery_image_wrapper_wrapper{
  margin: 50px;
  position: relative;
  width: 220px;
  display: flex;
  padding: 0 10px;

}

.gallery_image_wrapper{
  overflow-x: scroll;
  position: relative;
  width: 220px;
  display: flex;
}

.gallery_image{
  display: flex;
}

.g_image{
  width: 200px;
}

.g_image img{
  width: 100%;
  height: 100%;
}

.nextButton, .prevButton{
  display: flex;
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 100px;
}

.nextButton{
  left: 0px;
  bottom: 50%;
  transform: translateY( 50%)
}

.prevButton{
  right: 0;
  bottom: 50%;
  transform: translateY( 50%)
}