.slider_v2_wrapper {
  padding: 0 20px;
  // background: grey;
  position: relative;
  width: fit-content;
  margin: auto;

  .slider_v2 {
    overflow: hidden;
    margin: auto;
    padding: 15px;

    .slider_container {
      position: relative;
      display: flex;
      // background: rgba(224, 42, 42, 0.644);
      transition: all .3s ease;
      
      &.auto_scroll{
        transition: all 2s cubic-bezier(1, -0.21, 0, 1.42) !important;
      }
      &.jump_frist{
        // animation: jump_frist .5s ease 1
        transition: all 2s cubic-bezier(0.4, 0.29, 0.75, 0.72) !important
      }
      &.jump_last{
        // animation: jump_frist .5s ease 1
        transition: all 2s cubic-bezier(0.4, 0.29, 0.75, 0.72) !important
      }

      .slider_v2_image {
        // width: 220px;
        // height: 200px;
        margin: 0px 1px;
        box-sizing: border-box;
        

        // img {
        //   width: inherit;
        //   height: inherit;
        // }
      }
    }
  }

  // @keyframes jump_frist {
  //   0%{  }
  //   100%{}
  // }




  .prevGalleryImage,
  .nextGalleryImage{
    position: absolute;
    background: rgb(235, 235, 235);
    text-align: center;
    color: #272727;
    top: 50%;
    margin: 0px;
    cursor: pointer;

    width: 20px;
    padding: 2px;
  }
  .prevGalleryImage{
    left: 0;
  }
  .nextGalleryImage{
    right: 0;

  }

}