/* Helper Class */

.mr-5{margin-right: 5px}
.ml-5{margin-left: 5px;}
.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}


.image_root{

}

.image{
  height: inherit;
  width: inherit;
  box-sizing: border-box;
  display: flex;
}
.shadow_1{
  box-shadow:0 0 2px 0px #acacac;
}

.circle{
  border-radius: 100%;
}

.border{
  border: 3px solid #c1c1c1;
}